.order-form {
  height: fit-content;
  background-color: #FFFFFF;
  border: 10px solid #CDECF1;
  box-sizing: border-box;
  padding: 48px 44px;

  h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    color: #1F2326;
  }

  .we-offer-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #1F2326;
    margin-top: 24px;
    margin-bottom: 56px;

    @media (max-width: 425px) {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 47px;
    }
  }

  .order-form-fields {
    .form-input-wrapper {
      &:not(:last-of-type) {
        margin-bottom: 47px;
      }
    }
    .submit-wrapper {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      align-items: center;

      .politics-text {
        margin: 0 0 0 16px;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #757F86;

        a {
          color: #757F86;
        }
      }

      @media (max-width: 425px) {
        flex-direction: column;

        .politics-text {
          margin: 16px 0 0;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 425px) {
    border: none;
    border-bottom: 8px solid #CDECF1;
    padding: 40px 16px;

    h4 {
      font-size: 18px;
      line-height: 24px;
    }

    br {
      content: " ";

      &:after {
        content: " ";
      }
    }
  }
}