.main-screen {
  .content {
    justify-content: space-between;

    .text {
      margin-top: 224px;
      margin-right: 32px;
      max-width: 400px;

      h1 {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        margin: 0;
        color: #1F2326;
      }

      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #1F2326;
        margin-bottom: 48px;
      }

      button {
        margin-bottom: 62px;
      }

      @media (max-width: 1023px) {
        margin-top: 144px;
        margin-right: 0;
        text-align: center;

        p {
          margin-bottom: 32px;
        }

        .smallHr {
          margin: 16px auto;
        }
      }

      @media (max-width: 425px) {
        h1 {
          font-size: 18px;
          line-height: 24px;
        }

        p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }

    .picture {
      margin-top: 186px;
      width: 500px;
      height: 500px;
      border: 10px solid #CDECF1;
      box-sizing: border-box;
      background-image: url("../../img/angles.jpeg");
      background-size: contain;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .list {
        width: fit-content;
        border: 1px solid #CDECF1;
        background-color: #CDECF1;

        ul {
          padding: 0;
          margin: 32px;
        }

        li {
          list-style-type: none;
          align-items: center;

          &:not(:last-of-type) {
            margin-bottom: 16px;
          }

          span {
            font-weight: bold;
            font-size: 14px;
            line-height: 28px;
            color: #1F2326;
            margin-left: 16px;
          }
        }

        @media (max-width: 425px) {
          border-radius: 5px;

          ul {
            margin: 16px;
          }

          li {
            &:not(:last-of-type) {
              margin-bottom: 20px;
            }

            span {
              font-weight: bold;
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }

      .order-button {
        margin-top: 32px;
        margin-bottom: 48px;
      }

      @media (max-width: 1023px) {
        margin-top: 0;
      }

      @media (max-width: 425px) {
        border: none;
        background: none;
        height: fit-content;
      }
    }

    @media (max-width: 1023px) {
      justify-content: center;
      align-items: center;
    }
  }

  .blue {
    height: 228px;
    width: 100%;
    background-color: #CDECF1;
    position: relative; // Для перекрытия картинкой
    top: -116px; // Для перекрытия картинкой
    margin-bottom: -116px; // Для перекрытия картинкой
    z-index: -1; // Для перекрытия картинкой

    @media (max-width: 425px) {
      display: none;
    }
  }
}