.header-component {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1F2326;
  width: 100%;

  .header-wrapper {
    width: 100%;
    background-color: #FFFFFF;
  }

  .header-bar {
    background-color: #FFFFFF;
    height: 96px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    nav {
      display: flex;
      align-items: center;

      & > * {
        margin-left: 32px;
      }

      a {
        display: flex;
        align-items: center;
        height: 96px;
      }

      .question-button {
        margin-left: 87px;
      }
    }

    .logo {
      min-width: 213px;
      display: flex;
    }

    .triangle-icon {
      margin-right: 4px;
    }

    .question-icon {
      margin-right: 8px;
    }
  }

  .dropdown-menu {
    width: fit-content;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;

    ul {
      margin: 24px 32px;
      padding: 0;
    }

    li {
      list-style-type: none;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }
    }
  }
}