@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url(../../fonts/ubuntu.woff) format('woff');
}

.App {
  font-family: Ubuntu;
  font-style: normal;

  .aligned-content {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    flex-wrap: wrap;

    @media (max-width: 425px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .black-button {
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 16px 24px;
    background: #1F2326;
    border-radius: 3px;
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-align: center;

    &:hover {
      background: #353A3E;
    }

    &:disabled {
      color: #757F86;
      background: #EBEBEB;
    }

    & > * {
      vertical-align: middle;
    }

    @media (max-width: 425px) {
      font-size: 12px;
      line-height: 14px;
      padding: 12px 20px;
    }
  }

  .link-button {
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: #1F2326;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    background: none;

    &:hover {
      text-decoration-line: underline;
    }

    &:disabled {
      color: #757F86;
    }

    & > * {
      vertical-align: middle;
    }

    @media (max-width: 425px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .header-component {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .smallHr {
    border: none;
    height: 1px;
    width: 80px;
    margin: 24px 0;
    background-color: #1F2326;
  }

  .bigHr {
    border: none;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #F3F2F2;
  }
}